@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes gradient-x {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient-x {
    background-size: 200% 200%;
    background-image: linear-gradient(to right, #3b82f6, #b91c1c);
    /* blue-500 to red-700 */
    animation: gradient-x 6s ease infinite;
}

@keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient-text {
    background-image: linear-gradient(to right, #22d3ee, #14b8a6, #a3e635);
    background-size: 200% 200%;
    animation: gradient-flow 5s ease infinite;
}
